<!doctype html>
<html lang = "en">
<head>
	<!-- cdns go here -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		#patient-accordion{display: none}
    #patients{display: none}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
    //click handlers for navbar
		$(document).ready(function(){
			$('#show-patients').click(function(){
				$('#patients').show()
        $('patient-accordion').hide()
				$('#homepage-text').hide()
			})
		})
    $(document).ready(function(){
      $('.show-home').click(function(){
        $('#patients').hide()
        $('patient-accordion').hide()
        $('#homepage-text').show()
      })
    })
    $(document).ready(function(){
      $('.patient_request').click(function(){
        $('#patients').hide()
        $('patient-accordion').show()
      })
    })
    //convert basic json key val pairs to view renderable in mustache
    function jsonToView(jsonData){
        var keyVals = []
        for(var k in jsonData){
          var pair = {}
          pair["key"] = k
          pair["val"] = jsonData[k]
          keyVals.push(pair)
        }
        newJson = {"keyvals":keyVals}
        return newJson

    }

    //search for patient
    $(document).ready(function(){
      $('#searchBtn').click(function(){
        $.post('/patientSearch',{searchName:$('#searchText').val()},
        function(data,status){
          if(status == "success"){
            console.log(data)
            var template = $('#search-template').html()
            var text = Mustache.render(template,data)
            $('#patients').append(text)
            bindPatLink()
          }
          else{
            alert("Error: " +status);
          }    
          })
      })
    })

    //get a patient's data and show on page
    //this is horrible code
    function bindPatLink(){
      $('.patientLink').click(function(){
        $.post('/patientData',{filename:$(this).text()},function(data,status){
        if(status == "success"){
          dataTypes = []
          for (var dataType in data["dict"]){
              var pair = {}
              pair["datatype"] = dataType
              keyValArr = []
              //console.log(data[dataType])
              
              data["dict"][dataType].forEach(function(jsonData){
                  //console.log(jsonData)
                  newJson = jsonToView(jsonData)
                  //console.log(newJson)
                  keyValArr.push(newJson)
              })
              pair["array"] = keyValArr
              dataTypes.push(pair)
          }
          var idx = 0;
          var idx2 = 0
          epicDataStruct = {"datatypes":dataTypes,"idx": function() {
          return idx++;
          },"idx2": function() {
          return idx2++;
          }}
          console.log(data["patient_data"])
          vitalJson = jsonToView(data["patient_data"])
          var vTemplate = $("#vital-template").html()
          var vText = Mustache.render(vTemplate,vitalJson)
          $('#patients').append(vText)

          var template = $("#patient-template").html()
          var text = Mustache.render(template,epicDataStruct)
          $('#patients').append(text)    
            }
        else{
            alert("Error: " +status);
        }
        })
      })
    }

	</script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand show-home" href="#" >TPP Patient Data</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active show-home"><a href="#">Home</a></li>
      <li><a href="#" id = "show-patients">Patients</a></li>
    </ul>
   
  </div>
</nav>

<div id = "homepage-text">

<h1> This is the homepage </h1>

</div>

{% raw %}
<script id = "vital-template" type = "text/template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapsev">
          Patient Info</a>
        </h4>
      </div>
      <div id="collapsev" class="panel-collapse collapse in">
        <div class="panel-body">
            <table class = table rules ="all">
              {{#keyvals}}
              <tr>
              <td class="col-md-3">{{key}}</td>
              <td class="col-md-3">{{val}}</td>
              </tr>
              {{/keyvals}}
          </table>
          </div>
      </div>
    </div>

</script>
<!-- the patient data in a mustache js template -->
<script id = "patient-template" type = "text/template">
  <div class="panel-group" id="accordion">
    {{#datatypes}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{idx}}">
          {{datatype}}</a>
        </h4>
      </div>
      <div id="collapse{{idx2}}" class="panel-collapse collapse">
        <div class="panel-body">
          {{#array}}
            <table class = table rules ="all">
              {{#keyvals}}
              <tr>
              <td class="col-md-3">{{key}}</td>
              <td class="col-md-3">{{val}}</td>
              </tr>
              {{/keyvals}}
          </table>
          {{/array}}
          </div>
      </div>
    </div>
    {{/datatypes}}
  </div>

</script>

<script id = "search-template" type = "text/template">
<br><br>
{{#patients}}
Patient: <a class = "patientLink"> {{name}} </a> <br>
{{/patients}}
</script>

{% endraw %}
<div id = "patients">
    <input class = "form-control" type = "search" placeholder = "Patient Search" id = "searchText">
    <button class ="btn" id = "searchBtn"> Search </button>  
</div>

<div id = "patient-accordion">
  <a href = '#' class = 'patient_request'> Patient Name </a>
</div>
</body>

</html>